<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dbfz1zsje/image/upload/v1596170805/collection.jpg')">
  <div class="container">
    <h1>Welcome to Sober Company</h1>
    <p>Best Coffee Cocktails in Shanghai</p>
  </div>
</div>
<div class="container">
  <div class="row py-4">
    <% @cocktails.each do |cocktail| %>
    <% url = cocktail.id == 5 ? "https://res.cloudinary.com/dbfz1zsje/image/upload/v1596170665/cocktail5.jpg" : "https://res.cloudinary.com/dbfz1zsje/image/upload/v1596170800/cocktail#{cocktail.id}.jpg"%>
      <div class="col-xs-12 col-sm-6">
        <%= link_to cocktail do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
            <%= cocktail.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<a class="button" href= <%=new_cocktail_path %>>Add cocktail</a>

